<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>使用watch监控input的变化</title>
</head>
<body>
    
    <div id="app">
        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName">
        <input type="text" v-model="fullName">
    </div>

    <script src="./vue/vue.js"></script>
    <script>
        
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: '',
                lastName: '',
                fullName: ''
            },
            watch: { // 使用这个属性 可以监视data中数据的变化，然后出发watch中对应的处理函数
                firstName: function () {  
                    console.log('FIRSTNAME CHANGED');
                }
            }
        });
    </script>
</body>
</html>