<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
</head>
<body>
    
    <div id="app">
        <h3>Page</h3>
        <input type="text" placeholder="请输入关键字" v-model="msg">
        <ul>
            <li v-for="(item,index) in getItem(msg)" :key="index">
                【Name:】{{item.name}} --- 【Age:】{{item.age}}
            </li>
        </ul>
        
    </div>

    <script src="../vue/vue.js"></script>

    <script>
    
        var vm = new Vue({
            data: {
                arr: [
                    {name: 'wangshuo',age: 20},
                    {name: 'changyuchun',age: 17},
                    {name: 'lvbu',age: 19},
                    {name: 'xiahouchun',age: 36},
                    {name: 'zhanliao',age: 28},
                    {name: 'luqian',age: 55},
                    {name: 'liuzhijun',age: 43}
                ],
                msg: ''
            },
            methods: {
                getItem(msg){
                    return this.arr.filter(item => {
                        if (item.name.includes(msg)) {
                            return item;
                        }
                    });
                }
            }

        }).$mount("#app");
    
    </script>

</body>
</html>