<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
</head>
<body>
    
    <div id="app">
        <input type="text" v-model="msg">
        <ul>
            <li v-for="(item,index) in getKey(msg)" :key="index">{{item.name}} --- {{item.age}}</li>
        </ul>
    </div>

    <script src="../vue/vue.js"></script>
    <script>
        var vm = new Vue({
            data: {
                msg: '',
                ary: [
                    {name: 'wang',age: 1},
                    {name: 'he',age: 1},
                    {name: 'zheng',age: 1},
                    {name: 'huan',age: 1},
                    {name: 'wang',age: 1},
                    {name: 'wu',age: 1}
                ]
            },
            methods: {
                // 实时查询 主要用到了 一个 filter 的方法 和 最新 includes的方法
                getKey(msg){
                    return this.ary.filter(item => {
                        if(item.name.includes(msg)) {
                            return item;
                        }
                    })
                }
            }
        }).$mount('#app');
    </script>

</body>
</html>