<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 简易计算器</title>
</head>
<body>
    <div id="app">
       <input type="text" v-model="n1">
       <select name="" id="" v-model="selected">
           <option value="+">+</option>
           <option value="-">-</option>
           <option value="*">*</option>
           <option value="/">/</option>
       </select>
       <input type="text" v-model="n2">
       <input type="button" value="=" @click="showResult()">
       <input type="text" v-model="result">
    </div>
    

    <script src="./bower_components/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            data: {
                selected: '+',
                n1: 0,
                n2: 0,
                result: 0
            },
            methods: {
                showResult(){
                    this.result = eval(this.n1+this.selected+this.n2);
                }
            }

        }).$mount('#app');
    </script>
</body>
</html>