<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .mar-30 {
            margin-top: 30px;
        }

        .v-enter,
        .v-leave-to {
            opacity: 0;
            transform: translateY(-80px)
        }

        .v-enter-active,
        .v-leave-active {
            transition: all 1s ease;
        }
    </style>
</head>
<body>

    <div id="app">
        <div class="container">
            <tmp1 @func="loadComment"></tmp1>
            <ul class="list-group mar-30">
                <transition-group name="" appear tag="div">
                    <li class="list-group-item" v-for="item in commentList" :key="item.id">
                        <span class="badge">{{item.user}}</span>
                        " {{item.comment}} "
                    </li>
                </transition-group>
            </ul>
            
        </div>
    </div>

    <template id="tmp1">
        <div>
            <div class="form-group">
                <label for="">用户名</label>
                <input type="text" class="form-control" id="" placeholder="输入用户名" v-model="user">
            </div>

            <div class="form-group">
                <label for="name">输入你的评论</label>
                <textarea class="form-control" rows="3" placeholder="在此键入您的评论" v-model="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" @click="addToList">发表评论</button>
        </div>
    </template>

   

<script src="bower_components/vue/dist/vue.js" type="text/javascript"></script>
<script>

    var commentBox = {
        template: '#tmp1',
        data(){
            return {
                user: '',
                comment: ''
            }

        },
        methods: {
            addToList(){

                // 评论数据放在localStorage
                // 组织一个评论数据对象
                // 把评论对象保存到localStorage中
                // localStroage 只支持存放字符串数据  要用JSON.stringify
                // 保存最新数据之前 要先从locastorage 获取之前的评论数据（string） 转换为一个数组对象 ， 然后把最新的评论 push中这个数组中。
                // 如果获取一个空的评论数据  用json.parse 转化为 对象的时候 会报错；为了解决这个问题，如果为空的话，可以返回一个 '[]' => []
                // 把最新的评论列表数组，再次调用json.Stringify 转为 数组字符串 ，在调用 localStorage.setItem()
                

                var commentObj = {id: this.user,user: this.user,comment: this.comment};
                // -> 从 localStorage 获取所有的评论
                var list = JSON.parse(localStorage.getItem('cmts') || '[]');
                list.unshift(commentObj);
                // -> 紧接着 保存最新的评论数据
                localStorage.setItem('cmts',JSON.stringify(list));
                this.user = this.comment = '';

                // 点击按钮添加数据的同时  调用父组件的方法 获取新的数据并显示
                this.$emit('func');
            }
        }
    };

    var vm = new Vue({
        data: {
            commentList: [
                {id: 1,user: '李白',comment: '蜀道难，难于上青天'},
                {id: 2,user: '陶渊明',comment: '种豆南山下，草盛豆苗稀'},
                {id: 3,user: '岳飞',comment: '莫等闲，白了少年头，空悲切'},
                {id: 4,user: '辛弃疾',comment: '醉里挑灯看剑'},
            ]
        },
        methods: {
            loadComment(){ // -> 从本地存储中加载数据列表
                var list = JSON.parse(localStorage.getItem('cmts') || '[]');
                this.commentList = list;
            }
        },
        components: {
            'tmp1': commentBox
        }
    }).$mount('#app');

</script>

</body>
</html>